* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: initial;
   
}
body {
    background-color: rgba(0, 0, 0, 0.425);
}
.corpo1 {
    display: flex;
    margin: 30% 10%;
    box-shadow: 10px 10px rgba(19, 15, 15, 0.39);
    border-radius: 30px;
    background-color: aliceblue;
}

.corpo1 img {
    width: 30%;
    border-radius: 20px;
}
.corpo1 h1 {
    padding-left: 10%;
    font-size: 250%;
    
}
.corpo1 h3{
    padding-left: 10px;
}
.corpo1 .text{
    display: block;
     width: 60%;
     text-align: center;
}
.corpo1 .text p{
   margin: 6%;
   width: 45%;
   margin-left: 30%;
   
}
.corpo1 .text a{

}
.corpo1 .text a button{
    width: 20%;
    height: 7%;
    background-color: rgba(199, 197, 191, 0.671);
     border: none;
     border-radius: 20px;
     margin-bottom: 20px;
}
a button:hover {
    background-color: orange;
}
